.header-Back{

}


.resume-button{
  animation:pulse 2000ms infinite;
  padding:15px;
  background-color: rgb(124, 96, 246);
  color: #fff;
}

@keyframes pulse {
  0%{
    transform:scale(.09);
    box-shadow:0 0 0 0 rgb(124, 96, 245.7);
  }
  70%{
    transform:scale(1);
    box-shadow:0 0 0 10px rgb(124, 96, 245);
  }
  100%{
    transform:scale(.09);
    
  }
}