.first-color{
    color:#2e2f30;   
}

.myText-style{
    font-family: Helvetica;
    color:#31466d;
}

.second-color{
    color:rgb(90, 80, 80);
}

.brand-button{
    padding:10px;
    background-color: rgb(124, 96, 246);
    color: #fff;
    border-radius: 3px;
    border:none;
    text-decoration: none;
}

.App {
    
  }
  