.first-color{
    color:#2e2f30;   
}

.myText-style{
    font-family: Helvetica;
    color:#64FFDA;
}

.second-color{
    color:#8892B0;
}

.brand-button{
    padding:10px;
    background-color: rgb(124, 96, 246);
    color: #fff;
    border-radius: 3px;
    border:none;
    text-decoration: none;
}

.description-text{
    color:#2a3146;
}

.App {
    
  }
  